```{margin}
```

## Introduction üßë‚Äçüíª 
---

Our misson today is to cover:
- What is an array
- How might you use an array
- How to write to and read from an array
- Helpful methods that can be used with arrays
- There will be a small exercise at the end of the session which requires you to apply the array-knowledge taught! 

##### I will use python as the language of instruction
<br>

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## What is an array?
---

This is a general definition for array:

> " ...array, is a data structure consisting of a **collection of elements** (values or variables), each identified by at least one array index or key... " [(from wikipedia's 'array' page)](https://en.wikipedia.org/wiki/Array_data_structure)

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## Why do we need arrays?
---

Why don't we just create a reference to each variable that we need?

See below example --

We are required to **print out the salaries of some employees** and then calculate the **sum** of all salaries.
The data given to us is like this:

<div class="alert alert-block alert-info">
Employee id, salary <br>
0, 5000 <br>
1, 6000 <br>
2, 5000 <br>
3, 5500 <br>
4, 4000 <br>
</div>

### Approach 1

In [7]:
# Without array

employee0 = 5000
employee1 = 6000
employee2 = 5000
employee3 = 5500
employee4 = 4000

print(f'Salary of employee0 is { employee0 }')
print(f'Salary of employee1 is { employee1 }')
print(f'Salary of employee2 is { employee2 }')
print(f'Salary of employee3 is { employee3 }')
print(f'Salary of employee4 is { employee4 }')

print(f'Sum of all salaries is { employee0 + employee1 + employee2 + employee3 + employee4 }')

Salary of employee0 is 5000
Salary of employee1 is 6000
Salary of employee2 is 5000
Salary of employee3 is 5500
Salary of employee4 is 4000
Sum of all salaries is 25500

> üôà <br> Imagine when there are 5000 employees instead of just 5?

> ‚ú® <br>  We can use an array to group the data. Then we are able to process them with higher efficiency.

### Approach 2

In [8]:
# With array (list)

salaries = [5000, 6000, 5000, 5500, 4000]

# loop
for i,salary in enumerate(salaries):
    print(f'Salary of Employee{ i } is { salary }')

#sum
print(f'Sum of all salaries is { sum(salaries) }')

Salary of Employee0 is 5000
Salary of Employee1 is 6000
Salary of Employee2 is 5000
Salary of Employee3 is 5500
Salary of Employee4 is 4000
Sum of all salaries is 25500

> üòç <br> Only 4 lines of code to achieve the same result, no matter how many employees join later!

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## "Array" in Python
----

In python, the most commonly used array-like data structure is `list`.

In this session, we will focus on learning the basics of python `list`.

#### (Python does have `array` as a module and it is part of the python standard library.)

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## How do we use a list in python?

---

- ### Basic Operations

In [14]:
# Declaration

salaries = [5000, 6000, 5000, 5500, 4000]

empty_list = []

mixed_types = ['zero', 1, 2]

In [19]:
# Read element

print(salaries[0])

print(salaries[-1]) # negative indexing

print(salaries[5]) # IndexError

5000
4000

IndexError: list index out of range

In [20]:
# Write element

salaries[0] = 5001

print(f'salary for Employee0 is now {salaries[0]}')

salary for Employee0 is now 5001

```{margin}
```

```{margin}
```

```{margin}
```

- ### List Methods

Python includes following list methods:

<div class="alert alert-block alert-info">
list.append(obj) -
Appends object obj to list
<br><br>
list.count(obj) -
Returns count of how many times obj occurs in list
<br><br>
list.extend(seq) -
Appends the contents of seq to list
<br><br>
list.index(obj) -
Returns the lowest index in list that obj appears
<br><br>
list.insert(index, obj) -
Inserts object obj into list at offset index
<br><br>
list.pop(obj=list[-1]) -
Removes and returns last object or obj from list
<br><br>
list.remove(obj) -
Removes object obj from list
<br><br>
list.reverse() -
Reverses objects of list in place
<br><br>
list.sort([func]) -
Sorts objects of list, use compare func if given
</div>

In [ ]:
# list.append()

odd_numbers = [1, 3, 5]

odd_numbers.append(7)

print(odd_numbers)

In [ ]:
# list.extend()

odd_numbers = [1, 3, 5]

odd_numbers.extend([7, 9, 11, 13])

print(odd_numbers)

In [ ]:
# we can also use + operator to combine two list, it is called 'concatenation'
odd_numbers = [1, 3, 5]

print(odd_numbers + [7, 9, 11, 13])

In [22]:
# list.index()

odd_numbers = [1, 3, 5]

print(odd_numbers.index(5))

# print(odd_numbers.index(99))

2

In [26]:
# list.remove()

odd_numbers = [1, 3, 4, 5]

odd_numbers.remove(4)

print(odd_numbers)

[1, 3, 5]

```{margin}
```

```{margin}
```

```{margin}
```

- ### Commonly used built-in functions that can be used on `list`

<div class="alert alert-block alert-info">
len(list) -
Gives the total length of the list
<br><br>
max(list) and min(list) -
Returns item from the list with max/min value
<br><br>
sum(list)
Sums up the numbers in the list
<br><br>
......

In [27]:
# len(list)

salaries = [5000, 6000, 5000, 5500, 4000]

print(len(salaries))

5

In [28]:
# max(list), min(list)

print(max(salaries))

print(min(salaries))

6000
4000

In [29]:
# sum(list)

print(sum(salaries))

25500

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## Exercise

You are asked to calculate the average salary of all employees from three companies.

The data are given to you as three arrays `company_one`,`company_two` and `company_three`.

Note that there is a mistake made by the person who collected the data. The last entry in `company_two` was accidentally put as nagative. Correct this mistake before you calculate the average salary.

In [ ]:
# data
company_one = [6000, 6500, 7000, 5000, 6400]
company_one = [5000, 5700, 7300, -5900]      # -5900 should be 5900
company_one = [6500, 7000, 4000, 5200, 5700, 5700, 8300]

# your solution here:

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

```{margin}
```

## More To Explore

- ### The actual array module in python:<br>

> https://docs.python.org/3/library/array.html

- ### Some other stuff we can do with python `list`:

In [ ]:
# 2-D list

two_d_array = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(two_d_array[2])    
print(two_d_array[2][2])

In [ ]:
# list slicing using the slicing operator [:]
# syntax: [S:E] --> getting elements from index S to index E-1

my_list = ['a','b', 'c', 'd', 'e', 'f', 'g']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])